<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PeevedPenguins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD541D161D1DCE9D00022845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD541D2E1D1DCE9E00022845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD541D391D1DCE9E00022845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
